body{
    margin: 0;
    padding: 0;
    background: #ECEBF3;
}

.name{
    width: 100%;
    height: 300px;
    background: #D9DBF1;
}

.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.name .content.p1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 80px;
}
